body {
    color: lightblue;
    background-color: blue;
}
text {
    color: black;
}
link {
    color: white;
}
nav {
    background-color: gray;
}
nav a {color: blue;} 
 nav a:hover {background-color: blue;} 
