body {
    color: lightblue;
    background-color: blue;
}
text {
    color: black;
}
link {
    color: white;
}
nav {
    background-color: gray;
}
nav a {
    color: blue;
}
    a :hover {
        background-color: blue;
    } 
